.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 900px;
}

.section {
  border: 1px solid var(--grey-color);
  border-radius: 40px;
  padding: 40px;
}

.cardTitle {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-grey-color);
  margin-top: 0;
  margin-bottom: 24px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.deleteButton {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  background-color: var(--delete-red-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}
