:root {
  --background-primary: #25252a;
  --background-secondary: #303038;
  --yellow-color: #ffd700;
  --orange-color: #c55500;
  --main-font: "Inika", serif;
}

@font-face {
  font-family: "Inika";
  src: url("@/assets/Inika-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-primary);
}
